:root {
    --font-family: 'Inter', Arial;
    --primary-bg: #2a6d6e;
    --secondary-bg: #1a4d4e;
    --text-light: #fff;
    --text-dark: #000;
    --bg-light: #e0f0f0;
    --bg-medium: #f0f0f0;
    --bg-footer: #d0e0e0;
    --border-color: #e8e8e8;
    --dark-mode-bg: #212529;
    --dark-mode-table: #343a40;
    --dark-mode-table-header: #495057;
    --dark-mode-input: #495057;
    --dark-mode-text: #f8f9fa;
    --dark-mode-border: #6c757d;
    --border-radius: 3px;
    --focus-bg: #a5cdf5;
    --dark-mode-focus-bg: #5a6268;
    --breadcrumb-bg: #f5f5f5;
    --dark-mode-breadcrumb-bg: #4a4a4a;

    --bs-dropdown-item-padding-y: 5px;
    --bs-dropdown-item-padding-x: 10px
}

body {
    overflow-y: scroll;
    background-color: #fafafa;
}

.card {
    filter: drop-shadow(0px 1px 1px #d5d5d5);
    border-radius: var(--border-radius);
}

nav.navbar {
    background-color: #ffffff;
    border-bottom: 1px solid rgb(204, 204, 204);
    filter: drop-shadow(0px 1px 1px #d5d5d5);
}

.form-label {
    border-bottom: 1px solid #fdfdfd;
    width: 100%;
    font-size: .8rem;
    font-weight: 700;
}

.dropdown-item {
    padding: 5px 10px !important;
}

.form-control-sm,
.form-select-sm,
.btn-sm {
    padding: .2rem .5rem !important;
    border: 1px solid #cccccc;
}

*:focus {
    box-shadow: none !important;
}

.table-sm>:not(caption)>*>* {
    padding: .0rem 0rem;
}

[data-bs-theme="dark"] .form-select {
    --bs-form-select-bg-img: url();
}

[data-bs-theme="light"] .form-select {
    --bs-form-select-bg-img: url();
}

.table-sm thead tr th {
    background-color: #2a6d6e;
    color: #fff;
}

footer {
    padding: 5px 10px;
    background: teal;
    color: white;
    font-size: .65rem !important;
}

input,
select,
textarea {
    background-color: #fff !important;
}

input:disabled,
select:disabled,
textarea:disabled,
input[type="checkbox"]:disabled,
input[type="radio"]:disabled {
    border: 1px solid red !important;
}
